{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [poolboy,
		amqp_client,
		rabbit_common,
		{cuesport, {git, "git@github.com:goj/cuesport.git", {branch, "master"}}}]}.

{relx, [{config, "config/sys.config"}]}.
{shell, [
    {config, "config/sys.config"},
    {apps, [rabbitmq_pool]}
]}.
