[{rabbitmq_pool,
  [
   {consumer_services, [router_test, topic_test, sub_test, work_test]},
	 {producer_services, [producer_test]},
   {producer_test, [
					 {size,10},
					 {max_overflow,2000},
           {username, <<"guest">>},
           {host, "127.0.0.1"},
           {password, <<"guest">>},
           {port, 5672}
          ]},   
	{work_test, [
					 {size,10},
					 {max_overflow,2000},
           {username, <<"guest">>},
           {host, "127.0.0.1"},
           {password, <<"guest">>},
					 {queue, <<"test">>},
           {port, 5672}
          ]},
	{topic_test, [
					 {size,1},
					 {max_overflow,2000},
           {username, <<"guest">>},
           {host, "127.0.0.1"},
           {password, <<"guest">>},
					 {type, topic},
					 {exchange, <<"topic_exchange_test">>},
					 {routing_key, <<"topic_routing_key_test">>},
           {port, 5672}
          ]},	
	{router_test, [
					 {size,1},
					 {max_overflow,2000},
           {username, <<"guest">>},
           {host, "127.0.0.1"},
           {password, <<"guest">>},
					 {type, router},
					 {exchange, <<"router_exchange_test">>},
           {routing_key, <<"router_routing_key_test">>},
           {port, 5672}
          ]},
	{sub_test, [
					 {size,1},
					 {max_overflow,2000},
           {username, <<"guest">>},
           {host, "127.0.0.1"},
           {password, <<"guest">>},
					 {type, sub},
					 {exchange, <<"sub_exchange_test">>},
           {routing_key, <<"sub_routing_key_test">>},
           {port, 5672}
          ]}
]}].
